<div class="footer">
  <div class="footer-content">
    <div class="footer-columns">
      <span>Home</span>
      <span>Help</span>
      <span>Search</span>
      <span>Contact </span>
    </div>
    <div class="footer-columns">
      <span>Frequently Asked Questions</span>
      <span>All Employer Dashboard</span>
      <span>Help & Resources</span>
      <span>Profile </span>
    </div>
    <div class="footer-columns">
      <span>Privacy Policy</span>
      <span>Terms & Conditions</span>
      <span>Legal </span>
    </div>
  </div>
</div>
