<div class="card-sesion">
    <div class="card-header">
      <div class="header-left">
        <i class="fas fa-user-circle"></i>
        <h3>Planning Guide </h3>
      </div>
    </div>
  
    <div class="card-content">
      <div class="item">
        <h1 class="title success">Status Here</h1>
        <br />
        <span class="value"
          >Plan the actions needed for compliance throughout the employer’s plan year.</span
        >
        <br />
        <button class="return-button">Return to Planning Guide</button>
      </div>
    </div>
  </div>
  