<div class="sidebar">
  <span class="first-item menu-item"
    ><i class="fas fa-arrow-left icon"></i> All Employers</span
  >
  <span class="menu-item"
    ><i class="fas fa-tachometer-alt icon"></i> Employer Dashboard</span
  >
  <span class="menu-item"
    ><i class="fas fa-clipboard icon"></i> Intake Questionnaire</span
  >
  <span class="menu-item"
    ><i class="fas fa-chart-line icon"></i> Assessment
    <i class="fas fa-chevron-down sub-icon"></i
  ></span>
  <span class="menu-item"><i class="fas fa-book icon"></i> Planning Guide</span>
  <span class="menu-item"
    ><i class="fas fa-calendar-alt icon"></i> Calendar</span
  >
  <span class="menu-item"><i class="fas fa-pen icon"></i> Notes</span>
</div>
