<div class="card-sesion">
  <div class="card-header">
    <div class="header-left">
      <i class="fas fa-user-circle"></i>
      <h3>Assessment Tool</h3>
    </div>
  </div>

  <div class="card-content">
    <div class="item">
      <h1 class="title success">Complete</h1>
      <br />
      <span class="value"
        >Quickly identify the gaps in compliance for this employer's group
        health and welfare program.</span
      >
      <br />
      <button class="return-button">Return to Assessment</button>
    </div>
  </div>
</div>
