<div class="card-sesion">
  <div class="card-header">
    <div class="header-left">
      <i class="fas fa-user-circle"></i>
      <h3>Employer Details</h3>
    </div>
    <div class="header-right">
      <a href="#">Edit</a>
    </div>
  </div>

  <div class="card-content">
    <div class="item">
      <span class="label">Employer Name</span>
      <span class="value">Acme Brick</span>
    </div>
    <div class="item">
      <span class="label">EIN</span>
      <span class="value">12-3456789</span>
    </div>
    <div class="item">
      <span class="label">Plan Year Start</span>
      <span class="value">01/01/2023</span>
    </div>
    <div class="item">
      <span class="label">Location</span>
      <span class="value">Dallas, Texas</span>
    </div>
    <div class="item">
      <span class="label">Primary Contact</span>
      <span class="value">Grace Adler</span>
    </div>
    <div class="item">
      <span class="label">Employer Emails</span>
      <span class="value email-value"
        >gadler@acmebrick.com, hadams@acme...</span
      >
    </div>
  </div>
</div>
